body {
  font-family: 'sans-serif';
  font-size: 16px;
  background: #d5d3c6;
}

span {
  color: red;
}


.container {
  padding: 0 32px;
  width: 100%;
}

@media (max-width: 750px) {

  .container {
    padding: 0 24px;
  }

}

$breakpoint-big-laptop: 1770px;
$breakpoint-laptop: 1281px;
$breakpoint-small-screen: 961px;
$breakpoint-tablet: 769px;
$breakpoint-phone: 481px;

