.section_4{
  height: 100%;
  width: 100%;

  div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    width: 100%;

    .atouts {
      display: flex;
      flex-direction: column;

      border: solid 5px red;
      border-radius: 5px;

      margin: 0.5em;
      width: 250px;

      h1 {
        text-align: center;
        font-size: 18px;
        margin: 0.5em 0;
      }

      p {
        margin-left: 1em;
        margin-bottom: 0.5em;
      }
    }
  }
}

@media (max-width: $breakpoint-big-laptop) {
  .section_4{
    div{
      width: 125%;

      .atouts{
        width: 240px;
        margin: 0.5em;
        padding-bottom: 0.5em;
      }
    }
  }
}

@media (max-width: $breakpoint-laptop) {
  .section_4{
    margin: 1em 1em;

    .atouts{
      width: 200px;
      margin: 0.5em;
      padding-bottom: 0.5em;
    }
  }
}

@media (max-width: $breakpoint-tablet) {
  .section_4{
    margin: 1em 1em;

    div {
      width: 130%;
      justify-content: center;

      .atouts{
        width: 230px;
        margin: 0.5em;
        padding-bottom: 0.5em;
      }
    }
  }
}
