.section_3{
  div {
    display: flex;
    flex-direction: column;

    margin-bottom: 2em;

    strong {
      font-size: 18px;
    }

    p{
      margin-top: 0.5em;
    }
  }

}

@media (max-width: $breakpoint-small-screen) {
  .section_3 {
    width: 150%;
    margin: auto 0;
  }
}