.section_1 {
  display: flex;
  height: 100%;

  div {
    width: 100%;

    .section_1_border {
      display: flex;
      border: solid 3px red;
      border-radius: 6px;

      width: 100%;
      height: auto;

      .border_left {
        width: 50%;
        padding:1em 0;

        p {
          padding:0.15em 0;
          margin-left: 1em;
          font-size: 18px;
        }
      }

      .border_right {
        width: 50%;
        padding:1em 0;

        p {
          padding:0.15em 0;
          margin-left: 3em;
          font-size: 18px;
        }
      }
    }

    a {
      margin-top: 2em;
    }
  }
}

@media (max-width: $breakpoint-small-screen) {
  .section_1 {
    display: flex;

    div {
      flex-direction: column;
      justify-content: center;

      .section_1_border{
        width: 150%;

        .border_left{
          width: 90%;
        }

        .border_right{
          width: 90%;
          p{
            margin-left: 1em;
          }
        }
      }
    }
  }
}