.tabs li {
  float: left;
  display: block;
}

.tabs:after{
  display: table;
  content: ' ';
  clear: both;
}

.tabs  a{
  display: inline-block;
  padding: 10px 15px;
  font-size: 20px;
  margin-right: 1em;
}

.tabs .active a{
  color: red;
  font-size: 20px;
  border-bottom: solid 2px red;
}

.tabs-content{
  position: relative;
  z-index: 3;
  padding-top: 3em;
  margin-bottom: 20px;
  width: 70%;
  height: 400px;
}

.tab-content{
  display: none;
}

.tab-content.active{
  display: block;
}

.fade{
  opacity: 0;
  transition: opacity 0.5s;
}

.fade.in{
  opacity: 1;
}
