.tabs {
  display: flex;
  width: 80%;

  li {
    flex-direction: row;
    flex-wrap: wrap;
    width: 30%;

    a {
      display: flex;
      justify-content: center;
      padding: 10px 15px;
      font-size: 20px;
      margin-right: 1em;
    }
  }

  .active a {
    color: red;
    font-size: 20px;
    border-bottom: solid 2px red;
  }
}

.tabs-content {
  display: flex;
  z-index: 3;
  padding-top: 3em;
  margin-bottom: 20px;
  width: 70%;
  height: 400px;

  .tab-content{
    display: none;
  }

  .active {
    display: block;
  }
}

.fade{
  opacity: 0;
  transition: opacity 0.35s;
}

.fade.in{
  opacity: 1;
}

@media (max-width: $breakpoint-tablet) {
  .tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: auto;
    max-width: 100%;

    li {
      width: auto;
      flex-direction: row;
      margin: auto;

      a{
        text-align: center;
      }
    }
  }
}